/* {
	outline: red 1px solid;
}*/
body {
	background-color: #E9F5EC;
}
h1 {
	font-family: 'Great Vibes', cursive;
	font-weight: 800;
  	font-size: 3em;
  	margin-bottom: 1em;
}
.container {
	text-align: center;
	background-color: #DEF5E5;
	padding: 1em;
}
.sidebar {
	text-align: center;
	width: 25%;
	position: absolute;
	right: 0em;
	background-color: #AFDEC7;
}
.add-item-input{
}
.add-item-button{
	border-radius: 10%;
}
.main-menu {
	width: 75%;
	text-align: center;
	display: block;
	background-color: #F5F1DE;
}
h2 {
	font-family: 'Tangerine', cursive;
	font-weight: 800;
  	font-size: 3em;
  	color: red;
}
.menu {
	padding: .2em;
	width: 30em;
	margin: 0 auto;
	border: .2em double red;
	font-family: 'Tangerine', cursive;
	color: red;
}
h3 {
	font-size: 2em;
	margin-bottom: 0;
}
.food-list{
	padding: 1em;
	text-align: center;
	display: inline-block;
	list-style-type: none;
	border: .01em solid red;
	font-size: 1.5em;
	color: red;
}
.menu-item {
}
.remove-item-btn {
	border-radius: 15%;
	background-color: #E9F5EC;
}