* {
	outline: red 1px solid;
}

header {
	text-align: center;
}
.container {
	text-align: center;
}
.output {
	text-align: center;
	margin-left: 0;
	width: 75%;
}
.sidebar {
	text-align: center;
	width: 25%;
	/*margin-right: 5em;*/
	/*margin-top: 10em;*/
	/*float: right;*/
	position: absolute;
	right: 0em;
}
.items-added {
	margin-top: 5em;
	width: 75%;
	text-align: center;
}

.menu-items {
	padding-left: 0em;
}